<at-radio-group [(ngModel)]="basic" [size]="'small'">
  <label at-radio-button [atValue]="'basic'">
    基础
  </label>
  <label at-radio-button [atValue]="'high'">
    高级
  </label>
  <label at-radio-button [atValue]="'super'">
    超级
  </label>
</at-radio-group>
<hr>

<at-radio-group [(ngModel)]="basic">
  <label at-radio-button [atValue]="'basic'">
    基础
  </label>
  <label at-radio-button [atValue]="'high'">
    高级
  </label>
  <label at-radio-button [atValue]="'super'">
    超级
  </label>
</at-radio-group>
<hr>

<at-radio-group [(ngModel)]="basic" [size]="'large'">
  <label at-radio-button [atValue]="'basic'">
    基础
  </label>
  <label at-radio-button [atValue]="'high'">
    高级
  </label>
  <label at-radio-button [atValue]="'super'">
    超级
  </label>
</at-radio-group>

