<atRadioGroup [(ngModel)]="basic" [size]="'small'">
  <label atRadioButton [atValue]="'basic'">
    基础
  </label>
  <label atRadioButton [atValue]="'high'">
    高级
  </label>
  <label atRadioButton [atValue]="'super'">
    超级
  </label>
</atRadioGroup>
<hr>

<atRadioGroup [(ngModel)]="basic">
  <label atRadioButton [atValue]="'basic'">
    基础
  </label>
  <label atRadioButton [atValue]="'high'">
    高级
  </label>
  <label atRadioButton [atValue]="'super'">
    超级
  </label>
</atRadioGroup>
<hr>

<atRadioGroup [(ngModel)]="basic" [size]="'large'">
  <label atRadioButton [atValue]="'basic'">
    基础
  </label>
  <label atRadioButton [atValue]="'high'">
    高级
  </label>
  <label atRadioButton [atValue]="'super'">
    超级
  </label>
</atRadioGroup>

