<section class=""><h1>Grid 栅格</h1>
  <hr>
  <doc-section [title]="'概述'" [sample]="false">
    <p desc>

      栅格化设计是按照一定的规则把页面分成固定的相同宽度，然后列出各种组合的可能性，以便于在进行页面呈现的时候能够快速的进行布局。市面上一般使用&nbsp;<code>12栅格</code>&nbsp;系统，也有采用&nbsp;<code>8栅格</code>&nbsp;系统的，但是随着设备屏幕越来越大，传统的&nbsp;<code>12栅格</code>&nbsp;系统在一些业务场景下，没办法很好的解决元素布局的问题，所以我们使用了&nbsp;<code>24栅格</code>&nbsp;系统。也就是将页面区域
      24 等分。

      栅格系统需要注重一致的外边距和间隙宽度，所以我们采用了&nbsp;<code>8dp</code>&nbsp;的栅格系统，即栅格系统中的所有组件都与间隔为&nbsp;<code>8dp</code>&nbsp;的基准网格对齐，一切距离、尺寸都应该是&nbsp;<code>8dp</code>&nbsp;的整数倍（AT-UI
      在尽量遵守该规则，但存在部分元素不符合&nbsp;<code>8dp</code>&nbsp;的规范）。由于&nbsp;<code>8dp</code>&nbsp;对于文字排版可能会存在过宽的情况，所以文字排版使用&nbsp;<code>4dp</code>&nbsp;的基准。

      8dp 栅格系统相关资源：<a href="https://spec.fm/specifics/8-pt-grid">The 8-Point Grid</a>

    </p>

  </doc-section>

  <doc-section [title]="'Flex 布局'" [sample]="false">
    <p desc>该栅格系统使用&nbsp;<code>Flexbox</code>&nbsp;实现，支持&nbsp;<code>Flex</code>&nbsp;布局，允许子元素在父节点内的水平对齐方式（居左，居中，居右）等</p>
  </doc-section>

  <doc-section [title]="'屏幕 Breakpoint'" [sample]="false">
    <p desc>参考&nbsp;<a href="http://getbootstrap.com/css/#grid-media-queries">Bootstrap</a>&nbsp;和&nbsp;<a
      href="https://semantic-ui.com/elements/container.html">Semantic UI</a>，<code>AT-UI</code>&nbsp;选用了如下&nbsp;<code>Breakpoint</code>
    </p>
    <br>
    <table desc class="table">
      <thead>
      <tr>
        <th>Breakpoint</th>
        <th>设备类型</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>480px</td>
        <td>Mobile</td>
      </tr>
      <tr>
        <td>768px</td>
        <td>Tablet</td>
      </tr>
      <tr>
        <td>992px</td>
        <td>Desktop</td>
      </tr>
      <tr>
        <td>1200px</td>
        <td>Wide Desktop</td>
      </tr>
      </tbody>
    </table>

  </doc-section>

  <doc-section [title]="'基础栅格'" [code]="basicRow">
    <p desc>使用单一的&nbsp;<code>row</code>&nbsp;和多个&nbsp;<code>col</code>&nbsp;组合，创建基础的栅格布局</p>
    <div sample>
      <div atRow *ngFor="let row of rows;let i= index">
        <div atCol [span]="i+1">
          <div class="bg-c-brand-light at-box-row"></div>
        </div>
        <div atCol [span]="23-i">
          <div class="bg-c-brand-dark at-box-row">
          </div>
        </div>
      </div>
    </div>
  </doc-section>

  <doc-section [title]="'分割布局'" [code]="noGutterRow">
    <p desc><code>col</code>&nbsp;块之间增加间隔，默认添加间隔，如不需要间隔，可添加&nbsp;<code>class=&quot;noGutter&quot;</code></p>
    <div sample>
      <div atRow *ngFor="let row of rows;let i= index" [noGutter]="true">
        <div atCol [span]="i+1">
          <div class="bg-c-brand-light at-box-row"></div>
        </div>
        <div atCol [span]="23-i">
          <div class="bg-c-brand-dark at-box-row">
          </div>
        </div>
      </div>
    </div>
  </doc-section>

  <doc-section [title]="'左右偏移'" [code]="offsetRow">
    <p desc> 列与列之间可以通过设置&nbsp;<code>offset</code>&nbsp;来设定偏移值，例如：<code>offset</code>，意思是向左偏移 3 个单元格</p>
    <div sample>
      <div atRow [noGutter]="true">
        <div atCol [span]="3" [offset]="3">
          <div class="bg-c-brand-light at-box-row"></div>
        </div>
        <div atCol [span]="3">
          <div class="bg-c-brand-dark at-box-row">
          </div>
        </div>
      </div>
    </div>
  </doc-section>

  <doc-section [title]="'Flex 布局'" [code]="flexTypeRow">
    <p desc><code>AT-UI</code>&nbsp;的&nbsp;<code>Grid System</code>&nbsp;就是使用&nbsp;<code>Flexbox</code>&nbsp;实现的，如果要针对某些元素设置&nbsp;<code>Flex</code>&nbsp;布局，
      可使用&nbsp;<code>class=&quot;flex&quot;</code>。
      子元素通过添加不同的值&nbsp;<code>flex-start</code>，<code>flex-center</code>，<code>flex-end</code>，<code>flex-top</code>，<code>flex-middle</code>，<code>flex-around</code>，<code>flex-between</code>&nbsp;，分别定义其在父元素中的排列方式。
    </p>
    <div sample>
      <div *ngFor="let item of flex_type">
        <div class="demo-desc">
          flex-{{item}}
        </div>
        <div atRow [noGutter]="true" [flexType]="item">
          <div atCol [span]="3">
            <div class="bg-c-brand-light at-box-row"></div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row">
            </div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row">
            </div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </doc-section>
  <doc-section [title]="'栅格列的对齐方式'" [code]="alignTypeRow">
    <p desc><code>row</code>&nbsp;中的子元素&nbsp;<code>col</code>&nbsp;的对齐方式，支持三种对齐方式：<code>flex-top</code>，<code>flex-middle</code>，<code>flex-bottom</code>
    </p>
    <div sample>
      <div *ngFor="let item of align_type">
        <div class="demo-desc">
          flex-{{item}}
        </div>
        <div atRow [alignType]="item">
          <div atCol [span]="3">
            <div class="bg-c-brand-light at-box-row"></div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row" style="height: 100px">
            </div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row">
            </div>
          </div>
          <div atCol [span]="3">
            <div class="bg-c-brand-dark at-box-row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </doc-section>

  <doc-section [title]="'类名说明'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>classname</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>.container</td>
        <td>Grid 容器，相对父容器居中对齐</td>
      </tr>
      <tr>
        <td>.container-fluid</td>
        <td>容器左右两边预留&nbsp;<code>24px</code>&nbsp;的间隙</td>
      </tr>
      <tr>
        <td>.no-gutter</td>
        <td>默认&nbsp;<code>col</code>&nbsp;之间会设置&nbsp;<code>8px</code>&nbsp;的间隔，添加此类名可去除默认的间隔</td>
      </tr>
      <tr>
        <td>.row</td>
        <td>包裹&nbsp;<code>col</code>&nbsp;的容器</td>
      </tr>
      <tr>
        <td>.row.reverse</td>
        <td>反向排列子元素</td>
      </tr>
      <tr>
        <td>.flex</td>
        <td>使用&nbsp;<code>flexbox</code>&nbsp;布局</td>
      </tr>
      </tbody>
    </table>
  </doc-section>
</section>
