<div (mouseenter)="stopRemove()" (mouseleave)="startRemove()"
     [@enterLeave]="config.state"
     class="at-notification-contained  at-notification--{{config.type}}"
     [ngClass]="{'at-notification--with-message ': config.message !=''}"
>
  <i class="icon at-notification__icon icon-x-circle"></i>
  <div class="at-notification__content"><p class="at-notification__title">{{config.title}}</p>
    <p class="at-notification__message">{{config.message}}</p></div>
  <i *ngIf="config.showClose" (click)="remove()" class="icon icon-x at-notification__close">
  </i>
</div>



