<at-table>
  <thead atThead>
  <tr><!---->
    <th atTh style="cursor: text;" [atWidth]="219">姓名</th>
    <th atTh style="cursor: text;">年龄</th>
    <th atTh style="cursor: text;">地址</th>
  </tr>
  </thead>
  <tbody atTbody>
  <tr atTbodyTr>
    <td atTd>库里</td>
    <td atTd>库里</td>
    <td atTd>库里</td>
  </tr>
  <tr atTbodyTr><!---->
    <td atTd>库里</td>
    <td atTd>库里</td>
    <td atTd> 库里</td>
  </tr>
  </tbody>
  <div footer>
    <at-pagination [total]="100"></at-pagination>
  </div>
</at-table>
