<section>
  <h1>slider</h1>
  <hr>
  <doc-section [code]="slider_basic">
    <div sample>
      <app-demo-basic-slider>

      </app-demo-basic-slider>
    </div>
  </doc-section>
</section>

<doc-section [sample]="false" [title]="'at-slider 属性'">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ngModel</td>
      <td>数值绑定</td>
      <td>number | Array(number)</td>
      <td>-</td>
      <td>-</td>
    </tr>

    <tr>
      <td>step</td>
      <td>步长</td>
      <td>number</td>
      <td>-</td>
      <td>1</td>
    </tr>

    <tr>
      <td>marks</td>
      <td>标记点</td>
      <td>object</td>
      <td>{{ '{' }}10:"10分"{{ '}' }}</td>
      <td>-</td>
    </tr>

    <tr>
      <td>atMode</td>
      <td>模式</td>
      <td>String</td>
      <td>common | range</td>
      <td>common</td>
    </tr>

    <tr>
      <td>atValueChange</td>
      <td>@Output</td>
      <td>$event</td>
      <td>number | Array(number)</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</doc-section>
