<section>
  <h1>快速启动</h1>
  <hr>
  <doc-section [sample]="false">
    <div desc>
      <pre>
在使用之前，推荐学习&nbsp;<code>Angular 4 +</code>&nbsp;和&nbsp;<code>ES2016</code>&nbsp;，并正确配置&nbsp;<code>Node.js</code>&nbsp;v6.x 或以上版本
</pre>

    </div>
  </doc-section>

  <doc-section>
    <div desc>
      先在我们的项目中引入
    </div>
    <div sample>
      <div app-high-light [atCode]="code" [atLanguage]="'typescript'">

      </div>
      <p>
        然后就可以愉快的开发了！
      </p>
    </div>


  </doc-section>
</section>
