<at-radio-group [(ngModel)]="position" [size]="'small'">
  <label at-radio-button [atValue]="'vertical'">
    vertical
  </label>
  <label at-radio-button [atValue]="'horizontal'">
    horizontal
  </label>
  <label at-radio-button [atValue]="'inline'">
    inline
  </label>
</at-radio-group>

<hr>

<form *ngIf="position == 'horizontal'" atForm [type]="position">
  <div class="at-form-item" at-row>
    <at-form-label [span]="4">Username</at-form-label>
    <div class="at-form-item__content" at-col [span]="20" atFormFeedback>
      <atInput></atInput>
    </div>
  </div>

  <div at-form-item at-row>
    <at-form-label [span]="4">password</at-form-label>
    <div atFormContent at-col atFormFeedback [span]="20">
      <atInput [type]="'password'"></atInput>
    </div>
  </div>

  <div at-form-item at-row>
    <at-form-label [span]="4">Success</at-form-label>
    <div class="at-form-item__content" atFormFeedback [status]="'success'" at-col [span]="20">
      <atInput></atInput>
    </div>
  </div>

  <div at-form-item at-row>
    <at-form-label [span]="4">Error</at-form-label>
    <div atFormContent atFormFeedback [status]="'error'" at-col [span]="20">
      <atInput></atInput>
    </div>
  </div>

</form>
