<atSelect [(ngModel)]="single" [atSize]="'large'">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>

<hr>

<atSelect [(ngModel)]="single" [atSize]="'normal'">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>

<hr>

<atSelect [(ngModel)]="single" [atSize]="'small'" [disabled]="true">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>

