<at-select [(ngModel)]="single" [atSize]="'large'">
  <at-option [atLabel]="'first'" [atValue]="'first'"></at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'"></at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'"></at-option>
</at-select>

<hr>

<at-select [(ngModel)]="single" [atSize]="'normal'">
  <at-option [atLabel]="'first'" [atValue]="'first'"></at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'"></at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'"></at-option>
</at-select>

<hr>

<at-select [(ngModel)]="single" [atSize]="'small'" [disabled]="true">
  <at-option [atLabel]="'first'" [atValue]="'first'"></at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'"></at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'"></at-option>
</at-select>

