<atSelect [(ngModel)]="selected" [tagAble]="true" [multiple]="true" (search)="search($event)" [searchable]="true">
  <atOption [atLabel]="'first'" [atValue]="'first'">
  </atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'">
  </atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'">
  </atOption>
</atSelect>

<div *ngFor="let item of selected">
  {{item}}
</div>

<hr>

<atSelect [(ngModel)]="single" [atSize]="'large'" [searchable]="true">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>


<atSelect [(ngModel)]="single"  [atMode]="'multiple'" [searchable]="true">
  <atOption [atLabel]="'first'" [atValue]="1"></atOption>
  <atOption [atLabel]="'section'" [atValue]="2"></atOption>
  <atOption [atLabel]="'next'" [atValue]="3"></atOption>
  <atOption [atLabel]="'last'" [atValue]="4"></atOption>
</atSelect>

{{single}}
