<at-popover [trigger]="'hover'" [placement]="'top'">
  <button at-button pop-trigger>hello</button>
  <div >你好吗？</div>
</at-popover>

<at-popover [trigger]="'hover'" [placement]="'left'">
  <button at-button pop-trigger>hello</button>
  <div >你好吗？</div>
</at-popover>


<at-popover [trigger]="'hover'" [placement]="'right'">
  <button at-button pop-trigger>hello</button>
  <div >你好吗？</div>
</at-popover>


<at-popover [trigger]="'hover'" [placement]="'bottom'">
  <button at-button pop-trigger>hello</button>
  <div >你好吗？</div>
</at-popover>





