<atPopover [trigger]="'hover'" [placement]="'top'">
  <button atButton popTrigger>hello</button>
  <div popContent>你好吗？</div>
</atPopover>


<atPopover [trigger]="'hover'" [placement]="'left'">
  <button atButton popTrigger>hello</button>
  <div popContent>你好吗？</div>
</atPopover>

<atPopover [trigger]="'hover'" [placement]="'right'">
  <button atButton popTrigger>hello</button>
  <div popContent>你好吗？</div>
</atPopover>

<atPopover [trigger]="'hover'" [placement]="'bottom'">
  <button atButton popTrigger>hello</button>
  <div popContent>你好吗？</div>
</atPopover>

