<div class="at-menu__submenu-title"
     (mouseenter)="onMouseEnterEvent($event)"
     (mouseleave)="onMouseLeaveEvent($event)"
     (click)="show()"
>
  <ng-content select="[title]"></ng-content>
</div>
<div
  *ngIf="isOpen && parent.atType != 'inline'"
  [ngStyle]="{'left': _popoverCss.left ,'right': _popoverCss.right,'top': _popoverCss.top}"
  (mouseenter)="onMouseEnterEvent($event)"
  (mouseleave)="onMouseLeaveEvent($event)"
  class="at-dropdown__popover">
  <ng-content></ng-content>
</div>
<!--<ng-content [@slide-up] *ngIf="isOpen" select="[inlineMenu]"></ng-content>-->

<div
  [@fadeAnimation]
  [@expandAnimation]="expandState"
  *ngIf="isOpen">
  <ng-content select="[inlineMenu]"></ng-content>
</div>
