<atDropdown [placement]="'top'">
  <button atButton atContent>不同的位置菜单top</button>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem [disabled]="true">菜单1</li>
  <li atDropMenuItem [divided]="true">菜单1</li>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem>菜单1</li>
</atDropdown>

<atDropdown [placement]="'left'">
  <button atButton atContent>不同的位置菜单left</button>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem [disabled]="true">菜单1</li>
  <li atDropMenuItem [divided]="true">菜单1</li>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem>菜单1</li>
</atDropdown>

<atDropdown [placement]="'right'">
  <button atButton atContent>不同的位置菜单right</button>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem [disabled]="true">菜单1</li>
  <li atDropMenuItem [divided]="true">菜单1</li>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem>菜单1</li>
</atDropdown>

<atDropdown [placement]="'top-left'">
  <button atButton atContent>不同的位置菜单top-left</button>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem [disabled]="true">菜单1</li>
  <li atDropMenuItem [divided]="true">菜单1</li>
  <li atDropMenuItem>菜单1</li>
  <li atDropMenuItem>菜单1</li>
</atDropdown>

