<div at-row [flexType]="'center'">
  <div at-col [span]="6">
    <at-dropdown [placement]="'top'" [trigger]="'click'">
      <button at-button at-dropdown>不同的位置菜单top</button>
      <ul at-drop-menu-list>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item [disabled]="true">菜单1</li>
        <li at-drop-menu-item [divided]="true">菜单1</li>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item>菜单1</li>
      </ul>
    </at-dropdown>
  </div>
  <div at-col [span]="6">
    <at-dropdown [placement]="'bottom'" [trigger]="'click'">
      <button at-button at-dropdown>不同的位置菜单 bottom</button>
      <ul at-drop-menu-list>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item [disabled]="true">菜单1</li>
        <li at-drop-menu-item [divided]="true">菜单1</li>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item>菜单1</li>
      </ul>
    </at-dropdown>
  </div>
  <div at-col [span]="6">
    <at-dropdown [placement]="'left'" [trigger]="'click'">
      <button at-button at-dropdown>不同的位置菜单 left</button>
      <ul at-drop-menu-list>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item [disabled]="true">菜单1</li>
        <li at-drop-menu-item [divided]="true">菜单1</li>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item>菜单1</li>
      </ul>
    </at-dropdown>
  </div>
  <div at-col [span]="6">
    <at-dropdown [placement]="'right'" [trigger]="'click'">
      <button at-button at-dropdown>不同的位置菜单 right</button>
      <ul at-drop-menu-list>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item [disabled]="true">菜单1</li>
        <li at-drop-menu-item [divided]="true">菜单1</li>
        <li at-drop-menu-item>菜单1</li>
        <li at-drop-menu-item>菜单1</li>
      </ul>
    </at-dropdown>
  </div>
</div>
