<section>
  <h1>Form</h1>
  <hr>
  <doc-section [title]="'基础使用'" [code]="basic" [language]="'typescript'">
    <div sample>
      <app-demo-form-basic>

      </app-demo-form-basic>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置的'" [code]="position" [language]="'typescript'">
    <div sample>
      <app-demo-position-form>
      </app-demo-position-form>
    </div>
  </doc-section>

  <doc-section [title]="'表单验证'" [code]="basic" [language]="'typescript'">
    <div sample>
      <app-demo-form-basic>
      </app-demo-form-basic>
    </div>
  </doc-section>
</section>
