<atTabSet [position]="'vertical'">
  <atTab>
    <ng-template #atTabHeading>
      headingB
    </ng-template>
    <span>
      contentB
    </span>
  </atTab>

  <atTab>
    <ng-template #atTabHeading>
      headingA
    </ng-template>
    <span>
      contenta
    </span>
  </atTab>

  <atTab>
    <ng-template #atTabHeading>
      headingB
    </ng-template>
    <span>
      contentB
    </span>
  </atTab>

  <atTab>
    <ng-template #atTabHeading>
      headingA
    </ng-template>
    <span>
      contenta
    </span>
  </atTab>

  <atTab>
    <ng-template #atTabHeading>
      headingB
    </ng-template>
    <span>
      contentB
    </span>
  </atTab>

  <atTab>
    <ng-template #atTabHeading>
      headingA
    </ng-template>
    <span>
      contenta
    </span>
  </atTab>

</atTabSet>
