<at-tab-set [position]="'left'" [atIndex]="index">
  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置
    </ng-template>
    <div>
      <div>基础设置</div>
    </div>
  </at-tab>
  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置2
    </ng-template>
    <div>基础设置2</div>
  </at-tab>

  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置3
    </ng-template>
    <div>基础设置3</div>
  </at-tab>

  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置4
    </ng-template>
    <div>基础设置4</div>
  </at-tab>
</at-tab-set>
<hr>


<button (click)="changeA()">chaneg A</button>

<at-tab-set [position]="'top'">
  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置
    </ng-template>
    <div>基础设置</div>
  </at-tab>
  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置2
    </ng-template>
    <div>基础设置2</div>
  </at-tab>

  <at-tab [atTitle]="atTabHeading">
    <ng-template #atTabHeading>
      基本设置3
    </ng-template>

    <div>基础设置3</div>
  </at-tab>

  <at-tab
  [atTitle]="atTabHeading">
  <ng-template #atTabHeading>
    基本设置4
  </ng-template>
  <div>基础设置4</div>
  </at-tab>
</at-tab-set>

