<at-popover [placement]="'top'">
  <button at-button pop-trigger>
    hello
  </button>
  <div >
    你好吗？
  </div>
</at-popover>


<at-popover [placement]="'top'" [trigger]="'click'">
  <button at-button pop-trigger>
    hello
  </button>
  <div >
    <div class="at-popover__content"><p >这是一段内容，确定删除吗？</p>
      <div  style="text-align: right; margin-top: 8px;">
        <button  type="default" class="at-btn at-btn--default at-btn--smaller">
          <span
          class="at-btn__text">取消</span></button>
        <button type="primary" class="at-btn at-btn--primary at-btn--smaller">
          <span
          class="at-btn__text">确定</span></button>
      </div>
    </div>
  </div>
</at-popover>
