.at-layout {
  &-has-side {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  &-body {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: auto;
    flex: auto;
    height: 100%;
    &-has-side {
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  &-breadcrumb {
    margin: 16px 0px;
  }

  &-content {
    margin: 0px 16px;
    flex: auto;
  }

  &-header {
    min-height: 56px;
    padding-right: 12px;
    flex: 0 0 auto;
  }

  &-sidebar {
    &-children {
      height: 100%;
    }
  }
}

