@import '../variables/index.scss';

.at-upload--picture {
  border: 1px dashed $grey-500;
  background: $grey-50;
  width: 104px;
  height: 104px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: table;

  .at-upload {
    &-container {
      width: 100%;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 8px;
    }
  }
}

.at-upload {
  &--text {
  }
  &-preview-modal {
    padding: 12px;
  }
  &-files {
    &-item {
      margin-top: 8px;
      font-size: 14px;
      position: relative;
      height: 22px;

      &-hover {
        background: $blue-50;
        .icon-right {
          opacity: 1 !important;
        }
      }
      &-info {
        height: 100%;
        padding: 0 12px 0 4px;
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
      }

      &-file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 22px;
        width: 100%;
        display: inline-block;
      }
    }

    .icon-left {
      position: absolute;
      display: inline-block;
      line-height: 22px
    }

    .icon-right {
      display: inline-block;
      font-size: 12px;
      -webkit-transform: scale(.83333333) rotate(0);
      transform: scale(.83333333) rotate(0);
      -webkit-transition: all .3s;
      transition: all .3s;
      cursor: pointer;
      position: absolute;
      top: 0;
      opacity: 0;
      right: 4px;
      color: rgba(0, 0, 0, .45);
      line-height: 22px;
    }
  }
}

.at-upload-files {
  &-item-hover {
    .at-upload-files-avatar-actions {
      opacity: 1 !important;
    }

    .at-upload-files-avatar-item-info {
      &:before {
        opacity: 1 !important;
      }
    }
  }

}

.at-upload-files-avatar {

  &-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    a {
      color: white;
      padding: 4px;
    }
  }

  &-item {
    border: 1px solid $grey-500;
    border-radius: 4px;
    float: left;
    width: 104px;
    height: 104px;
    margin: 0 8px 8px 0;
    padding: 8px;
    position: relative;
  }
  &-item-info {
    &:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, .5);
      -webkit-transition: all .3s;
      transition: all .3s;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    position: relative;
    height: 100%;
    width: 100%;
  }
  &-preview {
    width: 100%;
    height: 100%;
  }
}
