<section>
  <h1>安装</h1>
  <hr>
  <doc-section [title]="'安装'" [sample]="false">
    <div desc>
      <pre>
<code>npm install at-ng
</code></pre>
      <br>
      <p>将模块加入你的跟模块</p>
      <br>
      <pre>
      <code>
        AtModule.forRoot()
      </code>
        </pre>
      <br>
      <p>在你的项目种添加At-UI</p>
      <br>
      <p>在 angular-cli 的项目种</p>

      <br>

      <p>.angular-cli.json</p>
      <br>
      <pre>
<code>&quot;styles&quot;: [
        &quot;styles.css&quot;,
        &quot;../node_modules/at-ui-style/css/at.css&quot;
      ],</code></pre>

    </div>
  </doc-section>
</section>
