<section>
  <h1>Switch</h1>
  <hr>
  <doc-section [title]="'切换switch 多个使用'" [code]="code">
    <div sample>
      <app-swicth-basic>

      </app-swicth-basic>
    </div>
  </doc-section>
  <doc-section [title]="'at-switch 参数'" [sample]="false">
    <table class="table" desc>
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>disabled</td>
        <td>是否禁用</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>

      <tr>
        <td>ngModel</td>
        <td>绑定的值</td>
        <td>Boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td>checkText</td>
        <td>选中的文字</td>
        <td>string | number | TemplateRef</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>unCheckText</td>
        <td>未选中的文字</td>
        <td>string | number | TemplateRef</td>
        <td>-</td>
        <td>-</td>
      </tr>

      </tbody>

    </table>

  </doc-section>

  <doc-section [title]="'at-switch 事件'" [sample]="false">
    <table class="table" desc>
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>change</td>
        <td>更新选中值都后进行回调</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>

      </tbody>

    </table>

  </doc-section>

</section>
