<section>
  <h1>Dropdown 下拉菜单</h1>
  <hr>
  <doc-section [title]="'基础使用'" [code]="basic">
    <div sample>
      <app-basic-demo-dropdown>

      </app-basic-demo-dropdown>
    </div>
  </doc-section>

  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>
  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>

  <doc-section [title]="'Drop Down 下拉菜单属性'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>trigger</td>
        <td>触发&nbsp;<code>Dropdown</code>&nbsp;的方式</td>
        <td>String</td>
        <td><code>click</code>,&nbsp;<code>hover</code>,&nbsp;<code>focus</code></td>
        <td><code>hover</code></td>
      </tr>
      <tr>
        <td>placement</td>
        <td>下拉框的对齐方式</td>
        <td>String</td>
        <td>
          <code>top</code>,&nbsp;<code>top-left</code>,&nbsp;<code>top-right</code>,&nbsp;<code>bottom</code>,&nbsp;<code>bottom-left</code>,&nbsp;<code>bottom-right</code>
        </td>
        <td><code>bottom</code></td>
      </tr>
      </tbody>
    </table>

  </doc-section>

  <doc-section [title]="'dropItem 参数'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>name</td>
        <td>菜单的值</td>
        <td>String</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>是否禁用</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      <tr>
        <td>divided</td>
        <td>是否添加分割线</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      </tbody>
    </table>
  </doc-section>

  <doc-section [title]="'dropDown 事件'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>dropDownChange</td>
        <td>下拉菜单变化</td>
        <td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </doc-section>
</section>
