<section>
  <h1>Dropdown 下拉菜单</h1>
  <hr>
  <doc-section [title]="'基础使用'" [code]="basic">
    <div sample>
      <app-basic-demo-dropdown>

      </app-basic-demo-dropdown>
    </div>
  </doc-section>

  <doc-section [title]="'不同位置下拉'" [code]="place">
    <div sample>
      <app-demo-place-dropdown>

      </app-demo-place-dropdown>
    </div>
  </doc-section>

  <doc-section [title]="'at-dropdown 下拉菜单属性'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>trigger</td>
        <td>触发&nbsp;<code>Dropdown</code>&nbsp;的方式</td>
        <td>String</td>
        <td><code>click</code>,&nbsp;<code>hover</code>,&nbsp;<code>contextmenu</code></td>
        <td><code>hover</code></td>
      </tr>

      <tr>
        <td doc-td>autoClose</td>
        <td>点击之后是否自动关闭</td>
        <td>boolean</td>
        <td><code>true</code>,&nbsp;<code>false</code></td>
        <td><code>false</code></td>
      </tr>

      <tr>
        <td doc-td>visible</td>
        <td>是否显示</td>
        <td>boolean</td>
        <td><code>true</code>,&nbsp;<code>false</code></td>
        <td><code>false</code></td>
      </tr>

      <tr>
        <td doc-td>placement</td>
        <td>下拉框的对齐方式</td>
        <td>String</td>
        <td>
          <code>top</code>,&nbsp;<code>top-left</code>,&nbsp;<code>top-right</code>,&nbsp;<code>bottom</code>,&nbsp;<code>bottom-left</code>,&nbsp;<code>bottom-right</code>
        </td>
        <td><code>bottom</code></td>
      </tr>
      </tbody>
    </table>

  </doc-section>

  <doc-section [title]="'at-drop-menu-list'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>at-drop-menu-list</td>
        <td>将ul设置为下拉菜单ul</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </doc-section>

  <doc-section [title]="'at-dropdown'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>at-dropdown</td>
        <td>将dom 设置成 下拉菜单触发器</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </doc-section>


  <doc-section [title]="'at-drop-menu-item 参数'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>disabled</td>
        <td>是否禁用</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      <tr>
        <td doc-td>divided</td>
        <td>是否添加分割线</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      </tbody>
    </table>
  </doc-section>

  <doc-section [title]="'dropDown 事件'" [sample]="false">

    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td [o]="true">atVisibleChange</td>
        <td>下拉菜单变化</td>
        <td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </doc-section>
</section>
