<section>
  <h1>steps</h1>
  <hr>
  <doc-section [title]="'基础用法'" [code]="basic_code">
    <div sample>
      <app-demo-basic-steps></app-demo-basic-steps>
    </div>
  </doc-section>

  <doc-section [title]="'横向step 自定义icon'" [code]="horizontal_code">
    <div sample>
      <app-demo-horizonal-steps></app-demo-horizonal-steps>
    </div>
  </doc-section>


  <doc-section [title]="'不同大小，并且带有error步骤'" [code]="demo_size">
    <div sample>
      <app-demo-size-steps></app-demo-size-steps>
    </div>
  </doc-section>

  <doc-section [sample]="false" [title]="'step 属性'" [type]="'c'">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>status</td>
        <td>状态</td>
        <td doc-type-td>String</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>icon</td>
        <td>自定义icon</td>
        <td doc-type-td>String</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>description</td>
        <td>描述</td>
        <td doc-type-td>String</td>
        <td><code>error</code>,<code>success</code><code>warning</code></td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>title</td>
        <td>标题</td>
        <td doc-type-td>String</td>
        <td><code>error</code>,<code>success</code><code>warning</code></td>
        <td>-</td>
      </tr>

      </tbody>
    </table>

  </doc-section>
  <doc-section [sample]="false" [title]="'at-steps 属性'" [type]="'c'">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>atSize</td>
        <td>大小</td>
        <td doc-type-td>String</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>current</td>
        <td>当前current</td>
        <td doc-type-td>String</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>direction</td>
        <td>方向</td>
        <td doc-type-td>String</td>
        <td><code>horizontal</code>,<code>vertical</code></td>
        <td>-</td>
      </tr>

      </tbody>
    </table>

  </doc-section>


</section>
