<p>从按钮处伸展出来</p>

<at-modal [(show)]="modal" (onCancel)="cancel()">
  <div header>
    我来组成头部
  </div>
  <div body>
    <p>
      我来组成身体
      {{ single}}
    </p>
    <at-select [(ngModel)]="single" (change)="change($event)" [atPlaceHolder]="'Select'" [atSize]="'large'"
               [searchable]="true">
      <at-option *ngFor="let item of selects;let i= index" [atLabel]="item" [atValue]="item"></at-option>
    </at-select>
    <button at-button (click)="changeValue()"> 改值</button>
  </div>
</at-modal>


<button at-button (click)="setShow()"> 显示/隐藏</button>

