<div class="at-steps at-steps--{{direction}}">
  <div #steps *ngFor="let step of steps;let i = index"
       class="at-step at-step--{{step.status}}"
       [ngStyle]="{width: stepWidth(i) , 'margin-right':marginPx}">
    <div *ngIf="isLast(i)" class="at-step__line"></div>
    <div class="at-step__head">
      <div class="at-step__label" [ngClass]="{'at-step__icon': step.icon}">
        <div *ngIf="step.status !='finish' && !step.icon" class="at-step__order">
          {{ i+1}}
        </div>
        <div *ngIf="step.icon">
          <i class="icon {{step.icon}}"></i>
        </div>
        <div *ngIf="step.status === 'finish'">
          <i class="icon icon-check"></i>
        </div>
        <div *ngIf="step.status === 'error'">
          <i class="icon icon-x"></i>
        </div>
      </div>
    </div>
    <div class="at-step__main">
      <div class="at-step__title">{{step.title}}</div>
      <div class="at-step__description">{{step.description}}</div>
    </div>
  </div>
</div>

