<div atRow [flexType]="'item'" style="width: 60%">
  <div atCol [span]="8">
    <atTooltip [placement]="'top-left'">
      <button atButton tooltipTrigger>上左</button>
      <div tooltipContent>上左</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'top'">
      <button atButton tooltipTrigger>上</button>
      <div tooltipContent>上</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'top-right'">
      <button atButton tooltipTrigger>上右</button>
      <div tooltipContent>上右</div>
    </atTooltip>
  </div>
</div>

<div atRow [flexType]="'between'" style="width: 60%">
  <div atCol [span]="8">
    <atTooltip [placement]="'left-top'">
      <button atButton tooltipTrigger>左上</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'right-top'">
      <button atButton tooltipTrigger>右上</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
</div>

<div atRow [flexType]="'between'" style="width: 60%">
  <div atCol [span]="8">
    <atTooltip [placement]="'left'">
      <button atButton tooltipTrigger>左</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'right'">
      <button atButton tooltipTrigger>右</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
</div>

<div atRow [flexType]="'between'" style="width: 60%">
  <div atCol [span]="8">
    <atTooltip [placement]="'left-bottom'">
      <button atButton tooltipTrigger>左下</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'right-bottom'">
      <button atButton tooltipTrigger>右下</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
</div>

<div atRow [flexType]="'item'" style="width: 60%">
  <div atCol [span]="8">
    <atTooltip [placement]="'bottom-left'">
      <button atButton tooltipTrigger>下左</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'bottom'">
      <button atButton tooltipTrigger>下</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
  <div atCol [span]="8">
    <atTooltip [placement]="'bottom-right'">
      <button atButton tooltipTrigger>下右</button>
      <div tooltipContent>我很好</div>
    </atTooltip>
  </div>
</div>

