<div at-row [flexType]="'item'" style="width: 60%">
  <div at-col [span]="8">
    <at-tooltip [placement]="'top-left'"  >
      <button at-button pop-trigger>上左</button>
      <div >上左</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'top'" >
      <button at-button pop-trigger>上</button>
      <div >上</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'top-right'" >
      <button at-button pop-trigger>上右</button>
      <div >上右</div>
    </at-tooltip>
  </div>
</div>

<div at-row [flexType]="'between'" style="width: 60%">
  <div at-col [span]="8">
    <at-tooltip [placement]="'left-top'" >
      <button at-button pop-trigger>左上</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'right-top'" >
      <button at-button pop-trigger>右上</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
</div>

<div at-row [flexType]="'between'" style="width: 60%">
  <div at-col [span]="8">
    <at-tooltip [placement]="'left'" >
      <button at-button pop-trigger>左</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'right'" >
      <button at-button pop-trigger>右</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
</div>

<div at-row [flexType]="'between'" style="width: 60%">
  <div at-col [span]="8">
    <at-tooltip [placement]="'left-bottom'" >
      <button at-button pop-trigger>左下</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'right-bottom'" >
      <button at-button pop-trigger>右下</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
</div>

<div at-row [flexType]="'item'" style="width: 60%">
  <div at-col [span]="8">
    <at-tooltip [placement]="'bottom-left'" >
      <button at-button pop-trigger>下左</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'bottom'" >
      <button at-button pop-trigger>下</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
  <div at-col [span]="8">
    <at-tooltip [placement]="'bottom-right'" >
      <button at-button pop-trigger>下右</button>
      <div >我很好</div>
    </at-tooltip>
  </div>
</div>

