<div class="{{_prefixCls}} {{_prefixCls}}--{{atSize}} {{_prefixCls}}--{{atStatus}}"
     [ngClass]="_BindClass">
  <div #prepend [hidden]="!showPrepend" [ngClass]="{'at-input-group__prepend': showPrepend}">
    <ng-content select="[atPrepend]"></ng-content>
  </div>

  <ng-template [ngIf]="atType == 'normal'">
    <input [(ngModel)]="value" placeholder="{{placeholder}}" type="{{type}}" [disabled]="disabled"
           class="{{_prefixCls}}__original">
  </ng-template>

  <ng-template [ngIf]="atType == 'number'">
    <div class="at-input-number__input">
      <input [(ngModel)]="value" placeholder="{{placeholder}}" type="number" [disabled]="disabled"
             class="{{_prefixCls}}__original">

      <div class="at-input-number__handler">
        <span (click)="numberUp()" class="at-input-number__up" [ngClass]="{'at-input-number__up--disabled':isMax}"><i class="icon icon-chevron-up"  ></i></span>
        <span  (click)="numberDown()" class="at-input-number__down" [ngClass]="{'at-input-number__up--disabled':isMin}"><i class="icon icon-chevron-down"></i></span></div>
    </div>
  </ng-template>

  <i *ngIf="icon" class="at-input__icon icon icon-{{icon}}"></i>

  <div #append [ngClass]="{'at-input-group__append': showAppend}" [hidden]="!showAppend">
    <ng-content select="[atAppend]"></ng-content>
  </div>

</div>
