<table *ngIf="atType =='full'" class="at-calendar-table">
  <thead>
  <th class="column-header"><span class="column-header-inner">日</span></th>
  <th class="column-header"><span class="column-header-inner">一</span></th>
  <th class="column-header"><span class="column-header-inner">二</span></th>
  <th class="column-header"><span class="column-header-inner">三</span></th>
  <th class="column-header"><span class="column-header-inner">四</span></th>
  <th class="column-header"><span class="column-header-inner">五</span></th>
  <th class="column-header"><span class="column-header-inner">六</span></th>
  </thead>
  <tbody>
  <tr *ngFor="let week of weeks">
    <td
      *ngFor="let day of week.days" class="at-date-cell"
      (click)="clickDay(day.date)"
      [ngClass]="{'at-date-cell--last-month':day.isLastMonth,
'at-date-cell--selected':day.isSelectedDay ,
'at-date-cell--today':day.isCurrentDay,
'at-date-cell--next-month':day.isNextMonth}">
      <div class="at-date">{{day.number}}</div>
    </td>
  </tr>
  </tbody>
</table>

<table *ngIf="atType=='month'" class="at-calendar-table">
  <tbody>
  <tr *ngFor="let month of months">
    <td
      *ngFor="let single of month" class="at-month-cell"
      (click)="clickMonth(single)"
      [ngClass]="{
              'at-date-cell--selected':single.isSelectedMonth ,
              'at-date-cell--today':single.isCurrentMonth}">
      <div class="at-date">{{single.name}}</div>
    </td>
  </tr>
  </tbody>
</table>

<table *ngIf="atType=='year'" class="at-calendar-table">
  <tbody>
  <tr *ngFor="let section of years">
    <td
      *ngFor="let year of section" class="at-month-cell"
      (click)="clickYear(year)"
      [ngClass]="{
              'at-date-cell--selected':year.isSelectedMonth ,
              'at-date-cell--today':year.isCurrentMonth}">
      <div class="at-date">{{year}}</div>
    </td>
  </tr>
  </tbody>
</table>





