<p>small</p>
<hr>
<at-table [size]="'small'">
  <thead at-thead>
  <tr><!---->
    <th at-th style="cursor: text;" [atWidth]="219">姓名</th>
    <th at-th style="cursor: text;">年龄</th>
    <th at-th style="cursor: text;">地址</th>
  </tr>
  </thead>
  <tbody at-tbody>
  <tr at-tbody-tr>
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td>库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  </tbody>
</at-table>
<hr>
<p>normal</p>
<hr>
<at-table [size]="'normal'">
  <thead at-thead>
  <tr><!---->
    <th at-th style="cursor: text;" [atWidth]="219">姓名</th>
    <th at-th style="cursor: text;">年龄</th>
    <th at-th style="cursor: text;">地址</th>
  </tr>
  </thead>
  <tbody at-tbody>
  <tr at-tbody-tr>
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td>库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  </tbody>
</at-table>
<hr>
<p>large</p>
<hr>
<at-table [size]="'large'">
  <thead at-thead>
  <tr><!---->
    <th at-th style="cursor: text;" [atWidth]="219">姓名</th>
    <th at-th style="cursor: text;">年龄</th>
    <th at-th style="cursor: text;">地址</th>
  </tr>
  </thead>
  <tbody at-tbody>
  <tr at-tbody-tr>
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td>库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  </tbody>
</at-table>

<hr>
<p>带border 带隔层灰</p>

<at-table [stripe]="true" [border]="true">
  <thead at-thead>
  <tr><!---->
    <th at-th style="cursor: text;" [atWidth]="219">姓名</th>
    <th at-th style="cursor: text;">年龄</th>
    <th at-th style="cursor: text;">地址</th>
  </tr>
  </thead>
  <tbody at-tbody>
  <tr at-tbody-tr>
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td>库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  <tr at-tbody-tr><!---->
    <td at-td>库里</td>
    <td at-td>库里</td>
    <td at-td> 库里</td>
  </tr>
  </tbody>
</at-table>

<hr>
<p>带高度并且固定</p>

<at-table [stripe]="true" [border]="true" [height]="200">
  <ng-template #fixedHead>
    <thead at-thead>
    <tr><!---->
      <th at-th style="cursor: text;" [atWidth]="219">姓名</th>
      <th at-th style="cursor: text;">年龄</th>
      <th at-th style="cursor: text;">地址</th>
    </tr>
    </thead>
  </ng-template>
  <ng-template #fixedBody>
    <tbody at-tbody>
    <tr at-tbody-tr>
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td>库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>
    <tr at-tbody-tr><!---->
      <td at-td>库里</td>
      <td at-td>库里</td>
      <td at-td> 库里</td>
    </tr>

    </tbody>
  </ng-template>
</at-table>
