<section>
  <h1>Popover</h1>
  <doc-section [title]="'基础使用,不同的触发方式'" [code]="basic">
    <div sample>
      <app-demo-basic-popover>

      </app-demo-basic-popover>
    </div>
  </doc-section>

  <doc-section [title]="'自定义内容'" [code]="content">
    <div sample>
      <app-demo-content-popover>

      </app-demo-content-popover>
    </div>
  </doc-section>


  <doc-section [title]="'自定义位置'" [code]="position">
    <div sample>
      <app-demo-position-popover>

      </app-demo-position-popover>
    </div>
  </doc-section>

  <doc-section [title]="'<at-popover> 参数'" [type]="'c'" [sample]="false">
    <table class="table" desc>
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>pop-trigger</td>
        <td>自定义触发内容选择器</td>
        <td doc-type-td>Directive</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>trigger</td>
        <td>触发的事件类型</td>
        <td doc-type-td>String</td>
        <td><code>hover</code>,&nbsp;<code>focus</code>,&nbsp;<code>click</code></td>
        <td><code>click</code></td>
      </tr>
      <tr>
        <td doc-td>placement</td>
        <td>弹出框的位置</td>
        <td doc-type-td="">String</td>
        <td>
          <code>top</code>,&nbsp;<code>top-left</code>,&nbsp;<code>top-right</code>,&nbsp;<code>left</code>,&nbsp;<code>left-top</code>,&nbsp;<code>left-bottom</code>,&nbsp;<code>right</code>,&nbsp;<code>right-top</code>,&nbsp;<code>right-bottom</code>,&nbsp;<code>bottom</code>,&nbsp;<code>bottom-left</code>,&nbsp;<code>bottom-right</code>
        </td>
        <td><code>top</code></td>
      </tr>
      </tbody>
    </table>

  </doc-section>


</section>
