<section>
  <h1>数字输入框</h1>
  <hr>
  <doc-section [title]="'基本用法'" [code]="basic_ni">
    <div sample>
      <app-demo-basic-number-input></app-demo-basic-number-input>
    </div>
  </doc-section>

  <doc-section [title]="'设置步长'" [code]="step_ni">
    <div sample>
      <app-demo-step-number-input></app-demo-step-number-input>
    </div>
  </doc-section>

  <doc-section [title]="'不同尺寸'" [code]="size_ni">
    <div sample>
      <app-demo-size-number-input></app-demo-size-number-input>
    </div>
  </doc-section>

</section>
