<ng-template #inputTemplate>
  <input
    #inputElement
    autocomplete="off"
    class="ant-select-search__field"
    (compositionstart)="isComposing = true"
    (compositionend)="isComposing = false"
    (input)="updateWidth()"
    (keydown)="onKeyDownInput($event)"
    [ngModel]="inputValue"
    (ngModelChange)="setInputValue($event,true)"
    [disabled]="atDisabled">
</ng-template>
<ng-container *ngIf="isSingleMode">
  <!--selected label-->
  <div class="at-select at-select--visiable at-select--{{atMode}} at-select--{{atSize}}">
    <div class="at-select__selection ng-tns-c13-22 ng-star-inserted">
      <span class="at-select__selected ng-tns-c13-22 ng-star-inserted">
        {{singleValueLabel}}</span>
      <i class="icon icon-chevron-down at-select__arrow"></i>
      <i *ngIf="allowClear" (click)="clearData($event)" style="background: white"
         class="icon icon-x at-select__clear">
      </i>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isMultiple">
  <div #selection class="at-select__selection">
    <span *ngFor="let item of listSelectedOption" class="at-tag">
      <span class="at-tag__text">{{item.atLabel}}</span>
      <i (click)="rejectData($event,item)" class="icon icon-x at-tag__close"></i>
    </span>
    <span class="at-select__placeholder" *ngIf="listSelectedOption.length == 0">
      请选择
    </span>
    <input *ngIf="tagAble" #tag_input type="text"
           [(ngModel)]="_searchText"
           (focus)="resetOption()"
           (ngModelChange)="updateFilterOption()"
           placeholder="" (keyup)="onKey($event)" style="
    border: none;
    outline: none;
    left: 0;
    top: 0;
    display: inline-block;
    margin: 0 24px 0 8px;
    background-color: transparent;">
    <i class="icon icon-chevron-down at-select__arrow"></i>
    <i *ngIf="allowClear" (click)="clearData($event)" style="background: white"
       class="icon icon-x at-select__clear">
    </i>
  </div>

</ng-container>
