<p style="margin-bottom: 10px">点击下拉</p>
<!--<atDropdown>-->
  <!--<span atContent>下拉菜单-->
    <!--<i class="icon icon-chevron-down"></i>-->
  <!--</span>-->
  <!--<li atDropMenuItem> 菜单1</li>-->
  <!--<li atDropMenuItem>菜单1</li>-->
  <!--<li atDropMenuItem [divided]="true">菜单1</li>-->
<!--</atDropdown>-->

<!--<hr>-->
<!--<p style="margin-bottom: 10px">hover下拉</p>-->
<!--<atDropdown >-->
  <!--<span atContent>下拉菜单<i class="icon icon-chevron-down"></i></span>-->
  <!--<li atDropMenuItem [divided]="true">菜单1</li>-->
  <!--<li atDropMenuItem>菜单1</li>-->
  <!--<li atDropMenuItem>菜单1</li>-->
<!--</atDropdown>-->

<!--<hr>-->
<!--<p style="margin-bottom: 10px">通过divided 和 disabled 参数进行可选不可选样式 </p>-->
<!--<atDropdown>-->
  <!--<button atButton atContent>下拉菜单</button>-->
  <!--<li atDropMenuItem>菜单1</li>-->
  <!--<li atDropMenuItem [disabled]="true">菜单1</li>-->
  <!--<li atDropMenuItem [divided]="true">菜单1</li>-->
<!--</atDropdown>-->
