<section class=""><h1>Button 按钮</h1>
  <hr>
  <p>按钮用于传递用户触摸时会触发的操作</p>
  <h2>基础按钮</h2>
  <p>基础按钮分三种：<code>主按钮（实心）</code> 、 <code>次按钮（空心）</code> 、
    <code>文字按钮</code></p>
  <div class="at-component__container">
    <div class="at-component__sample">
      <div>
        <button at-button [atType]="'primary'">主要按钮</button>
        <button at-button [atType]="'default'">次要按钮</button>
        <button at-button [atType]="'text'">文字按钮</button>
      </div>
    </div>
    <div class="at-component__code">
      <div app-high-light [atCode]="baseButton">
      </div>
      <span class="btn-copy"><i class="icon icon-clipboard"></i></span>
    </div>
  </div>
  <h2>不可用状态按钮</h2>
  <p>添加属性 <code>disabled</code> 禁用按钮</p>
  <div class="at-component__container">
    <div class="at-component__sample">
      <div>
        <button at-button disabled [atType]="'primary'">主要按钮</button>
        <button at-button disabled hollow [atType]="'default'">次要按钮</button>
        <button at-button disabled [atType]="'text'">文字按钮</button>
      </div>
    </div>
    <div class="at-component__code">
      <div app-high-light [atCode]="disableButton" [atLanguage]="'html'">

      </div>
      <span class="btn-copy"><i class="icon icon-clipboard"></i></span></div>
  </div>
  <h2>带颜色倾向的按钮</h2>
  <p>带有色彩倾向的按钮能给用户带来操作提示</p>
  <div class="at-component__container">
    <div class="at-component__sample">
      <div>
        <div class="row">
          <button at-button [atType]="'default'" hollow>默认按钮</button>
          <button at-button [atType]="'primary'" hollow>主要按钮</button>
          <button at-button [atType]="'success'" hollow>成功按钮</button>
          <button at-button [atType]="'error'" hollow>危险按钮</button>
          <button at-button [atType]="'warning'" hollow>警告按钮</button>
          <button at-button [atType]="'info'" hollow>信息按钮</button>
        </div>
        <div class="row">
          <button at-button [atType]="'default'">默认按钮</button>
          <button at-button [atType]="'primary'">主要按钮</button>
          <button at-button [atType]="'success'">成功按钮</button>
          <button at-button [atType]="'error'">危险按钮</button>
          <button at-button [atType]="'warning'">警告按钮</button>
          <button at-button [atType]="'info'">信息按钮</button>
        </div>
      </div>
    </div>
    <div class="at-component__code">
      <div app-high-light [atLanguage]="'html'" [atCode]="colorsButton">
      </div>
      <span class="btn-copy"><i class="icon icon-clipboard"></i></span></div>
    <a class="at-component__code-toggle">显示代码</a></div>
  <h2>图标文字按钮</h2>
  <p>如需要在在按钮中添加图标，可设置 <code>icon</code> 属性，或者自行在 <code>Button</code> 中内联 <code>icon</code>。通过 <code>icon</code>
    属性设置的图标，位置固定在文本的前面。</p>
  <div class="at-component__container">
    <div class="at-component__sample">
      <div>
        <div class="row">
          <button at-button [atType]="'default'" [atIcon]="'icon-download'">下载资源</button>
          <button at-button [atType]="'default'" [atIcon]="'icon-user-plus'">添加用户</button>
          <button at-button [atType]="'default'" [atIcon]="'icon-edit'"></button>
          <button at-button [atType]="'primary'" [atIcon]="'icon-search'"></button>

        </div>
        <div class="row">
          <button at-button [atType]="'default'" [atIcon]="'icon-edit'" [atShape]="'circle'"></button>
          <button at-button [atType]="'primary'" [atIcon]="'icon-search'" [atShape]="'circle'"></button>
        </div>
      </div>
    </div>
    <div class="at-component__code">
      <div app-high-light [atLanguage]="'html'" [atCode]="iconsButton">

      </div>
      <span class="btn-copy"><i class="icon icon-clipboard"></i></span></div>
    <a class="at-component__code-toggle">显示代码</a></div>
  <doc-section [title]="'图标文字按钮'" [code]="loadingButton">
    <p desc>可通过添加 <code>loading</code> 属性，使按钮处于加载中状态</p>
    <div sample>
      <button at-button [iconLoading]="true">加载中</button>
      <button at-button [iconLoading]="true" [size]="'small'"></button>
      <button at-button [iconLoading]="true" [atShape]="'circle'"></button>
    </div>
  </doc-section>
  <doc-section [title]="'组合按钮'" [code]="CombineButton">
    <p desc>可以将多个按钮放进 <code>at-button-group</code> 中形成一个组合按钮</p>
    <div sample>
      <at-button-group>
        <button at-button [iconLoading]="true">加载中</button>
        <button at-button [iconLoading]="true">加载中</button>
        <button at-button [iconLoading]="true">加载中</button>
      </at-button-group>
    </div>
  </doc-section>
  <doc-section [title]="'按钮尺寸'" [code]="sizeButton">
    <p desc>按钮提供四种尺寸：大、中、小、超小，可通过 <code>size</code> 属性配置；<br>
      组合按钮提供三种尺寸：大、中、小<br>
      若不设置 <code>size</code> 属性，则默认为中等大小</p>
    <div sample>
      <button at-button [size]="'large'">大</button>
      <button at-button [size]="'default'">中</button>
      <button at-button [size]="'small'">小</button>
      <button at-button [size]="'smaller'">更小</button>
    </div>
  </doc-section>
  <doc-section [sample]="false" [title]="' at-button 按钮参数'" [type]="'c'">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>atType</td>
        <td>按钮的类型</td>
        <td doc-type-td>String</td>
        <td><code>default</code>, <code>primary</code>, <code
        >success</code>, <code>error</code>, <code
        >warning</code>, <code>info</code>, <code>text</code>
        </td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>size</td>
        <td>按钮的大小</td>
        <td doc-type-td>String</td>
        <td><code>large</code>, <code>small</code>, <code
        >smaller</code></td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>hollow</td>
        <td>是否为空心按钮</td>
        <td doc-type-td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      <tr>
        <td doc-td>icon</td>
        <td>按钮的图标类名，填入图标的 <code>classname</code></td>
        <td doc-type-td>String</td>
        <td>见文档 <code>Icon 图标</code></td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>iconLoading</td>
        <td>设置按钮的载入状态</td>
        <td doc-type-td>Boolean</td>
        <td>-</td>
        <td>false</td>
      </tr>
      <tr>
        <td doc-td>hollow</td>
        <td>设置按钮是否空心</td>
        <td doc-type-td>Directive</td>
        <td>-</td>
        <td>false</td>
      </tr>
      <tr>
        <td doc-td>atShape</td>
        <td>设置圆形图标按钮</td>
        <td doc-type-td>string</td>
        <td>'circle'</td>
        <td>''</td>
      </tr>
      </tbody>
    </table>
  </doc-section>
</section>
