<div class="at-datepicker">
  <div class="at-datepicker--panel">
    <div class="at-datepicker--panel--header">
      <div style="position: relative">
        <a *ngIf="atType == 'full'" (click)="preYear()" class="pre-year-btn">
        </a>
        <a *ngIf="atType == 'full'" (click)="preMonth()" class="pre-month-btn">
        </a>

        <a *ngIf="atType == 'year'" (click)="preCentury()" class="pre-year-btn">
        </a>


        <span class="current-select-label">
            <a (click)="setCal('month')" class="month-select">{{atMonth+1}}月</a>
            <a (click)="setCal('year')" class="year-select">{{atYear}}年</a>
          </span>

        <a *ngIf="atType == 'full'" (click)="nextMonth()" class="next-month-btn">
        </a>
        <a (click)="nextYear()" class="next-year-btn">
        </a>

        <a *ngIf="atType == 'year'" (click)="nextCenury()" class="next-year-btn">
        </a>

      </div>
    </div>
    <div class="at-datepicker--panel--body">
      <at-calendar (_clickDate)="clickDate($event)" (_clickYear)="clickYear($event)" (_clickMonth)="clickMonth($event)"
                  [atType]="atType"
                  [atYear]="atYear" [atMonth]="atMonth"
                  [atValue]="atValue"></at-calendar>
    </div>
  </div>
</div>
