<at-select [(ngModel)]="single" [allowClear]="true">
  <at-option [atLabel]="'first'" [atValue]="'first'"></at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'"></at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'"></at-option>
</at-select>

<hr>

<at-select [(ngModel)]="multiple" [multiple]="true" [allowClear]="true">
  <at-option [atLabel]="'first'" [atValue]="'first'"></at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'"></at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'"></at-option>
</at-select>
