<atSelect [(ngModel)]="single" [allowClear]="true" [allowClear]="true">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>

<hr>

<atSelect [(ngModel)]="multiple" [multiple]="true" [allowClear]="true">
  <atOption [atLabel]="'first'" [atValue]="'first'"></atOption>
  <atOption [atLabel]="'second'" [atValue]="'second'"></atOption>
  <atOption [atLabel]="'next'" [atValue]="'next'"></atOption>
</atSelect>
