<div>
  <at-alert [message]="'你好吗 hello ?'"></at-alert>
  <hr>
  <p>带有icon的</p>
  <hr>
  <at-alert [icon]="true" [atType]="'success'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [atType]="'error'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [atType]="'warning'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [atType]="'info'" [message]="'你好吗 hello ?'"></at-alert>
  <br>

  <hr>
  <p>带有描述的</p>
  <hr>
  <at-alert [icon]="true" [desc]="'我很好很好哈哈哈哈哈哈哈哈哈'" [atType]="'success'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [desc]="'我很好很好哈哈哈哈哈哈哈哈哈'" [atType]="'error'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [desc]="'我很好很好哈哈哈哈哈哈哈哈哈'" [atType]="'warning'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <at-alert [icon]="true" [desc]="'我很好很好哈哈哈哈哈哈哈哈哈'" [atType]="'info'" [message]="'你好吗 hello ?'"></at-alert>
  <br>
  <hr>
  <p>带有关闭文字的</p>
  <hr>
  <at-alert [icon]="true" [atType]="'info'" [message]="'你好吗 hello ?'" [closeText]="'关掉我'"></at-alert>
</div>
