<at-popover [placement]="'bottom'" [trigger]="'click'">
  <button at-button pop-trigger>
    hel3lo
  </button>
  <div >
    你好吗？
  </div>
</at-popover>


<at-popover [placement]="'top'" [trigger]="'click'">
  <button at-button pop-trigger>
    hellxo
  </button>
  <div >
    你好吗？
  </div>
</at-popover>

<at-popover [placement]="'left'" [trigger]="'click'">
  <button at-button pop-trigger>
    hellxo
  </button>
  <div >
    你好吗？
  </div>
</at-popover>

<at-popover [placement]="'right'" [trigger]="'click'">
  <button at-button pop-trigger>
    hellxo
  </button>
  <div >
    你好吗？
  </div>
</at-popover>
