<form atForm [formGroup]="validateForm">
  <at-form-item>
    <at-form-label [span]="4">user</at-form-label>
    <at-form-control [span]="20">
      <atInput formControlName="username"></atInput>
    </at-form-control>
  </at-form-item>

  <at-form-item>
    <at-form-label [span]="4">password</at-form-label>
    <at-form-control [span]="20">
      <atInput formControlName="username"></atInput>
    </at-form-control>
  </at-form-item>

  <at-form-item>
    <at-form-label [span]="4">success</at-form-label>
    <at-form-control [span]="20">
      <atInput formControlName="username"></atInput>
    </at-form-control>
  </at-form-item>

  <at-form-item>
    <at-form-label [span]="4">error</at-form-label>
    <at-form-control [span]="20">
      <at-select [atMode]="'multiple'" formControlName="password">
        <at-option [atLabel]="'select'" [atValue]="1"></at-option>
        <at-option [atLabel]="'select2'" [atValue]="12"></at-option>
      </at-select>
    </at-form-control>
  </at-form-item>

  <at-form-item>
    <at-form-label [span]="4">select</at-form-label>
    <at-form-control [span]="20">
      <at-select formControlName="password">
        <at-option [atLabel]="'select'" [atValue]="1"></at-option>
        <at-option [atLabel]="'select2'" [atValue]="12"></at-option>
      </at-select>
    </at-form-control>
  </at-form-item>


</form>
