<form atForm [formGroup]="validateForm">
  <div class="at-form-item" atRow>
    <label [required]="true" atFormLabel atCol [span]="4">
      Username
    </label>
    <div class="at-form-item__content" atCol [span]="20" atFormFeedback [status]="getValidate('username')">
      <atInput formControlName="username"></atInput>
      <div *ngIf="!getValidate('password').valid && getValidate('password').dirty"  atFormError>错误提示信息</div>
    </div>
  </div>

  <div atFormItem atRow>
    <label atFormLabel [required]="true" atCol [span]="4">
      password
    </label>
    <div atFormContent atCol atFormFeedback [span]="20" [status]="getValidate('password')">
      <atInput [type]="'password'" formControlName="password"></atInput>
      <div *ngIf="!getValidate('password').valid && getValidate('password').dirty" atFormError>错误提示信息</div>
    </div>
  </div>

  <div atFormItem atRow>
    <label class="at-form-item__label" atCol [span]="4">
      success
    </label>
    <div class="at-form-item__content" atFormFeedback [status]="'success'" atCol [span]="20">
      <atInput></atInput>
    </div>
  </div>

  <div atFormItem atRow>
    <label class="at-form-item__label" atCol [span]="4">
      error
    </label>
    <div class="at-form-item__content" atFormFeedback [status]="'error'" atCol [span]="20">
      <atInput></atInput>
    </div>
  </div>


</form>
