<at-steps [current]="current" [direction]="'horizontal'" [atSize]="'small'">
  <at-step [title]="'step1'" [icon]="'icon-pocket'"></at-step>
  <at-step [title]="'step2'"></at-step>
  <at-step [title]="'step3'" [description]="'asjdkasjdkajskdjaksjdkasjdk'"></at-step>
  <at-step [status]="'error'" [title]="'step4'" [description]="'asjdkasjdkajskdjaksjdkasjdk'"></at-step>
</at-steps>

<button at-button (click)="current =current +1">下一步</button>
<button at-button (click)="current = current-1">上一步</button>
