/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/icepoint1999/code/ng-ice-at/src/assets/sass/sass/index.scss

Backtrace:
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `read'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/bin/compass:23:in `load'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/bin/compass:23:in `<main>'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/icepoint1999/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /Users/icepoint1999/code/ng-ice-at/src/assets/sass/sass/index.scss"; }
