<div class="at-popover">
  <span (mouseenter)="mouseOver()" (mouseleave)="mouseOut()" (click)="activePop()" class="at-popover__trigger" #trigger>
  <ng-content select="[popTrigger]">
  </ng-content>
</span>
  <div #popover (mouseenter)="mouseOver()" (mouseleave)="mouseOut()" [ngStyle]="{'display': pop ? '' :'none'}"
       class="at-popover__popper at-popover--{{placement}}">
    <div class="at-popover__arrow"></div>
    <div *ngIf="title" class="at-popover__title">
      <ng-content select="[popTitle]"></ng-content>
    </div>
    <div class="at-popover__content">
      <ng-content select="[popContent]"></ng-content>
    </div>
  </div>
</div>

