<section>
  <h1>介绍</h1>
  <hr>
  <doc-section [title]="''" [sample]="false">
    <p desc><code>AT-ANGULAR-UI</code>&nbsp;是一款基于&nbsp;<code>Angular 4.0+</code>&nbsp;的前端 UI 组件库，主要用于快速开发 PC 网站中后台产品</p>

  </doc-section>
  <doc-section [title]="'特性'" [sample]="false">
    <ul desc>
      <li>基于&nbsp;<code>Angular</code>&nbsp;开发的 UI 组件</li>
      <li>使用 npm+ angular-cli 的工作流，支持 ES2015</li>
      <li>CSS 样式独立，即使使用不同的框架实现，也都能保持统一的 UI 风格（ 详见：<a href="https://github.com/at-ui/at-ui-style">AT-UI Style</a>&nbsp;）
      </li>
      <li>提供友好的 API，可灵活的使用组件</li>
    </ul>
  </doc-section>

  <doc-section [title]="'浏览器支持'" [sample]="false">
    <ul desc>
      <li>现代浏览器和 IE9 及以上</li>
      <li><a href="http://electron.atom.io/">Electron</a></li>
      <li><a href="http://nwjs.io/">NW.js</a></li>
    </ul>

  </doc-section>

  <doc-section [title]="'贡献'" [sample]="false">

  </doc-section>
</section>
