<section>
  <h1>介绍</h1>
  <hr>
  <doc-section [title]="''" [sample]="false">
    <p desc><code>AT-ANGULAR-UI</code>&nbsp;是一款基于&nbsp;<code>Angular 4.0+</code>&nbsp;的前端 UI 组件库，主要用于快速开发 PC 网站中后台产品</p>

  </doc-section>
  <doc-section [title]="'特性'" [sample]="false">
    <div desc>
      <ul>
        <li>基于&nbsp;<code>Angular</code>&nbsp;开发的 UI 组件</li>
        <li>使用 npm+ angular-cli 的工作流，支持 ES2015</li>
        <li>CSS 样式独立，即使使用不同的框架实现，也都能保持统一的 UI 风格（ 详见：<a href="https://github.com/at-ui/at-ui-style">AT-UI Style</a>&nbsp;）
        </li>
        <li>提供友好的 API，可灵活的使用组件</li>
      </ul>
    </div>
  </doc-section>

  <doc-section [title]="'前言'" [sample]="false">
    <div desc>
      <h5>写给各位喜欢 angular 小伙伴的</h5>
      <p>
      一套组件库可能并不能满足你的所有需求，因此开源组件就是为你自己定制而开源的。希望小伙伴们能够拿去尽情的改成自己理想中的那一套组件库
      </p>
      <br>
      <h5>注意点</h5>
      可能和 Vue 版本的AT-UI 功能或者动画上有所出入。组件之间功能差异也有所区别。我会尽量跟上官方的步伐。
    </div>
  </doc-section>

  <doc-section [title]="'版本'" [sample]="false">
    <div desc>
      <img src="https://badge.fury.io/js/at-ng.svg">
    </div>
  </doc-section>

  <doc-section [title]="'浏览器支持'" [sample]="false">
    <ul desc>
      <li>现代浏览器和 IE9 及以上</li>
      <li><a href="http://electron.atom.io/">Electron</a></li>
      <li><a href="http://nwjs.io/">NW.js</a></li>
    </ul>

  </doc-section>


  <doc-section [title]="'贡献'" [sample]="false">
    <p desc>如果你在使用&nbsp;<code>AT-ANGULAR</code>&nbsp;时遇到问题，或者有好的建议，欢迎给我提&nbsp;
      <a href="https://github.com/icepoint0/at-angular/issuess">Issue</a>&nbsp;或&nbsp;<a
        href="https://github.com/icepoint0/at-angular/pulls">Pull Request</a></p>

  </doc-section>
</section>
