<div>
  <ul *ngIf="!simple" class="at-pagination at-pagination--{{size}}">
    <span class="at-pagination__total">
      共 {{total}} 条
    </span>
    <li (click)="_jumpPage(_current-1)" [class.at-pagination--disabled]="_isFirstIndex" title="上一页"
        class="at-pagination__prev">
      <i class="icon icon-chevron-left"></i>
    </li>
    <li
      title="第一页"
      class="at-pagination__item"
      [class.at-pagination__item--active]="_isFirstIndex"
      (click)="_jumpPage(_firstIndex)">
      {{_firstIndex}}
    </li>
    <li
      [attr.title]="'向前 '+_roundPageSize+' 页'"
      class="at-pagination__item at-pagination__item--jump-prev"
      (click)="_jumpBefore(_pageSize)"
      *ngIf="(_lastIndex >9)&&(_current-3>_firstIndex)">
      <i class="icon icon-chevrons-left"></i>
    </li>
    <li
      *ngFor="let page of _pages"
      [attr.title]="page.index"
      (click)="_jumpPage(page.index)"
      class="at-pagination__item"
      [class.at-pagination__item--active]="_current==page.index">
      {{page.index}}
    </li>
    <li [attr.title]="'向后 '+_roundPageSize+' 页'"
        (click)="_jumpAfter(_pageSize)"
        class="at-pagination__item at-pagination__item--jump-next"
        *ngIf="(_lastIndex >9)&&(_current+3<_lastIndex)"
    >
      <i class="icon icon-chevrons-right"></i>
    </li>
    <li
      [attr.title]="'最后一页: '+_lastIndex"
      class="at-pagination__item"
      [class.at-pagination__item--active]="_isLastIndex"
      (click)="_jumpPage(_lastIndex)"
      *ngIf="(_lastIndex>0)&&(_lastIndex!==_firstIndex)">
      {{_lastIndex}}
    </li>
    <li title="下一页"
        [class.at-pagination--disabled]="_isLastIndex "
        class="at-pagination__next" (click)="_jumpPage(_current+1)">
      <i class="icon icon-chevron-right"></i>
    </li>

    <div *ngIf="atPageSizer" class="at-pagination__sizer">
      <atSelect [(ngModel)]="pageSize" >
        <atOption *ngFor="let item of _options" [atValue]="item" [atLabel]="item+' 条/页'">

        </atOption>
      </atSelect>
    </div>

    <div *ngIf="atQuickJump" class="at-pagination__quickjump">
      <span>前往</span>
      <input type="text" class="at-input__original" [ngModel]="atPageIndex"
             (ngModelChange)="_atPageIndexChange($event)">
      <span>页</span>
    </div>
  </ul>

  <ul *ngIf="simple" class="at-pagination at-pagination--simple" data-v-a01f69b8="">
    <li title="上一页"
        (click)="_jumpPage(_current-1)" [class.at-pagination--disabled]="_isFirstIndex"
        class="at-pagination__prev">
      <i class="icon icon-chevron-left"></i>
    </li>
    <div class="at-pagination__simple-paging">
      <input [ngModel]="atPageIndex"
             (ngModelChange)="_atPageIndexChange($event)"
             type="text" class="at-input__original">
      <span>/</span>
      <span class="at-pagination__paging-total">{{_lastIndex}}</span></div>
    <li title="下一页" class="at-pagination__next"
        [class.at-pagination--disabled]="_isLastIndex "
        class="at-pagination__next" (click)="_jumpPage(_current+1)"
    ><i class="icon icon-chevron-right"></i></li>
  </ul>
</div>
