<section>
  <h1>Radio 单选框</h1>
  <doc-section [title]="'基础radio 双向绑定'" [code]="basic_r">
    <div sample>
      <app-demo-basic-radio></app-demo-basic-radio>
    </div>
  </doc-section>

  <doc-section [title]="'button radio'" [code]="button_r">
    <div sample>
      <app-demo-button-radio></app-demo-button-radio>
    </div>
  </doc-section>

  <doc-section [title]="'不可选radio'" [code]="disable_r">
    <div sample>
      <app-demo-disable-radio>

      </app-demo-disable-radio>
    </div>
  </doc-section>

  <doc-section [title]="'字体颜色，背景颜色自由组合'" [code]="color_r">
    <div sample>
      <app-demo-color-radio></app-demo-color-radio>
    </div>
  </doc-section>

  <doc-section [title]="'提供不同的大小'" [code]="size_r">
    <div sample>
      <app-demo-size-radio></app-demo-size-radio>
    </div>
  </doc-section>
</section>
