<section>
  <h1>Radio 单选框</h1>
  <doc-section [title]="'基础radio 双向绑定'" [code]="basic_r">
    <div sample>
      <app-demo-basic-radio></app-demo-basic-radio>
    </div>
  </doc-section>

  <doc-section [title]="'button radio'" [code]="button_r">
    <div sample>
      <app-demo-button-radio></app-demo-button-radio>
    </div>
  </doc-section>

  <doc-section [title]="'不可选radio'" [code]="disable_r">
    <div sample>
      <app-demo-disable-radio>

      </app-demo-disable-radio>
    </div>
  </doc-section>

  <doc-section [title]="'字体颜色，背景颜色自由组合'" [code]="color_r">
    <div sample>
      <app-demo-color-radio></app-demo-color-radio>
    </div>
  </doc-section>

  <doc-section [title]="'提供不同的大小'" [code]="size_r">
    <div sample>
      <app-demo-size-radio></app-demo-size-radio>
    </div>
  </doc-section>
</section>

<doc-section [title]="'radio group 属性'" [type]="'c'" [sample]="false">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td doc-td>at-radio</td>
      <td>普通radio按钮</td>
      <td doc-type-td>Directive</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>at-radio-button</td>
      <td>radio按钮</td>
      <td doc-type-td>Directive</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>atValue</td>
      <td>按钮值</td>
      <td doc-type-td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>size</td>
      <td>大小</td>
      <td doc-type-td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>[(ngModel)]</td>
      <td>双向绑定</td>
      <td doc-type-td>any</td>
      <td>-</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</doc-section>

<doc-section [title]="'at-radio 属性'" [type]="'d'" [sample]="false">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>atValue</td>
      <td>按钮值</td>
      <td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>

    </tbody>
  </table>
</doc-section>


<doc-section [title]="'at-radio-button 属性'" [type]="'d'" [sample]="false">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td doc-td>atValue</td>
      <td>按钮值</td>
      <td doc-type-td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>fill</td>
      <td>填充颜色</td>
      <td doc-type-td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>disabled</td>
      <td>是否禁用</td>
      <td doc-type-td>boolean</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td doc-td>textColor</td>
      <td>文字颜色</td>
      <td doc-type-td>string</td>
      <td>-</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>
</doc-section>
