<div at-row>
  <div #hour_panel at-col [span]="8" class="at-time-panel">
    <ul>
      <li *ngFor="let s of hours"
          [ngClass]="{'time-selected':s.index == selected_hour}">
        {{s.name}}
      </li>
    </ul>
  </div>
  <div #minute_panel at-col [span]="8" class="at-time-panel">
    <ul>
      <li *ngFor="let s of minutes"
          [ngClass]="{'time-selected':s.index == selected_minutes}"
      >
        {{s.name}}
      </li>
    </ul>
  </div>
  <div #second_panel at-col [span]="8" class="at-time-panel">

    <ul>
      <li *ngFor="let s of seconds"
          [ngClass]="{'time-selected':s.index == selected_second}"
      >
        {{s.name}}
      </li>
    </ul>
  </div>
</div>
