<at-select [(ngModel)]="selected" [multiple]="true" [searchable]="true">
  <at-option [atLabel]="'first'" [atValue]="'first'">
  </at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'">
  </at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'">
  </at-option>
</at-select>
<div *ngFor="let item of selected">
  {{item}}
</div>

<button (click)="setSelect()">select</button>

<at-select [atPlaceHolder]="'asd'" [multiple]="true" [searchable]="true">
  <at-option [atLabel]="'first'" [atValue]="'first'">
  </at-option>
  <at-option [atLabel]="'second'" [atValue]="'second'">
  </at-option>
  <at-option [atLabel]="'next'" [atValue]="'next'">
  </at-option>
</at-select>
