/**
 * Popover
 */
@import '../variables/index.scss';

.at-popover {
  display: inline-block;

  /* element */
  &__trigger {
    display: inline-block;
    position: relative;
  }
  &__popper {
    position: relative;
    max-width: $popover-popper-max-width;
    border: 1px solid $popover-border-color;
    box-shadow: 0 1px 6px $popover-border-color;
    background-color: $color-white;
    z-index: $zindex-popover;
    &__top {
      padding-bottom: 10px;
    }
    &__left {
      padding-right: 10px;
    }
  }
  &__title {
    margin: 0;
    padding: $popover-title-padding;
    font-size: $popover-title-font-size;
    word-wrap: break-word;
    border-bottom: 1px solid $popover-title-border-color;
    border-radius: $border-radius-base $border-radius-base 0 0;
    background-color: $popover-title-bg-color;
  }
  &__content {
    padding: $popover-content-padding;
    font-size: $popover-content-font-size;
    line-height: 1.5;
    word-wrap: break-word;
    border-radius: $border-radius-base;
  }
  &__arrow {
    background: white;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    display: block;
    border: 1px solid $popover-border-color;
  }

  /* modifier */
  /**
   * Top
   */
  &--top,
  &--topLeft,
  &--topRight {
    margin-bottom: 10px;

    .at-popover__arrow {
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      bottom: -5.5px;
      box-shadow: 3px 3px 7px $popover-arrow-shadow;
      border-left: 0px;
      border-top: 0px;
    }
  }
  &--topLeft {
    .at-popover__arrow {
      left: $popover-arrow-size * 2;
    }
  }
  &--topRight {
    .at-popover__arrow {
      left: initial;
      right: $popover-arrow-size * 2;
    }
  }

  /**
   * Bottom
   */
  &--bottom,
  &--bottomLeft,
  &--bottomRight {
    margin-top: 12px;

    .at-popover__arrow {
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      top: -5.5px;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, .03);
      border-right: 0px;
      border-bottom: 0px;
    }
  }
  &--bottomLeft {
    .at-popover__arrow {
      left: $popover-arrow-size * 2;
    }
  }
  &--bottomRight {
    .at-popover__arrow {
      left: initial;
      right: $popover-arrow-size * 2;
    }
  }

  /**
   * Left
   */
  &--left,
  &--leftTop,
  &--leftBottom {
    margin-right: 10px;

    .at-popover__arrow {
      top: 50%;
      right: -5.5px;
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      box-shadow: 2px -2px 7px $popover-arrow-shadow;
      border-left: 0px;
      border-bottom: 0px;
    }
  }
  &--leftTop {
    .at-popover__arrow {
      top: $popover-arrow-size * 2;
    }
  }
  &--leftBottom {
    .at-popover__arrow {
      top: initial;
      bottom: $popover-arrow-size * 2;
    }
  }

  /**
   * Right
   */
  &--right,
  &--rightTop,
  &--rightBottom {
    margin-left: 12px;

    .at-popover__arrow {
      top: 50%;
      left: -5.5px;
      -webkit-transform: translatey(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      box-shadow: -3 3px 6px $popover-border-color;
      border-top: 0px;
      border-right: 0px;
    }
  }
  &--rightTop {
    .at-popover__arrow {
      top: $popover-arrow-size * 2;
    }
  }
  &--rightBottom {
    .at-popover__arrow {
      top: initial;
      bottom: $popover-arrow-size * 2;
    }
  }
}
