<ul atMenu [atType]="'inline'" style="width: 240px">
  <li atMenuItem>
    <div title><i class="icon icon-settings"></i>内置菜单1</div>
  </li>
  <li atMenuItem>
    <div title><i class="icon icon-settings"></i>内置菜单1</div>
  </li>
  <li atSubMenu>
    <div title><i class="icon icon-settings"></i>内置菜单3<i class="icon icon-chevron-down at-menu__submenu-icon"></i></div>
    <ul inlineMenu>
    <ul itemGroup>
      <li atMenuItem>
        <div title>内置菜单1</div>
      </li>
      <li atMenuItem>
        <div title>内置菜单1</div>
      </li>
      <li atMenuItem>
        <div title>内置菜单1</div>
      </li>
    </ul>
    </ul>
  </li>
</ul>
