<section class=""><h1>Tag 标签</h1>

  <doc-section [title]="'基本标签'" [code]="basicTag" [language]="'typescript'">
    <div sample>
      <app-demo-basic-tag></app-demo-basic-tag>
    </div>
  </doc-section>

  <doc-section [title]="'各种颜色的标签'" [code]="colorTag" [language]="'typescript'">
    <p desc>
      内置六种颜色的标签，如需其他颜色的标签，可设置&nbsp;<code>color</code>&nbsp;属性的值为十六进制的色值，例如&nbsp;<code>color=&quot;#6190E8&quot;</code>
    </p>
    <div sample>
      <app-demo-color-tag></app-demo-color-tag>
    </div>
  </doc-section>

  <doc-section [title]="'参数说明'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>color</td>
        <td>类型</td>
        <td>String / Hex</td>
        <td>可传入十六进制颜色值，或者&nbsp;<code>default</code>,&nbsp;<code>primary</code>,&nbsp;<code>success</code>,&nbsp;<code>error</code>,&nbsp;<code>warning</code>,&nbsp;<code>info</code>
        </td>
        <td>default</td>
      </tr>
      <tr>
        <td>closable</td>
        <td>是否可关闭</td>
        <td>Boolean</td>
        <td>&mdash;</td>
        <td>false</td>
      </tr>
      </tbody>
    </table>

  </doc-section>

  <doc-section [title]="'实践'" [sample]="false">
    <table sample class="table">
      <thead>
      <tr>
        <th>事件名称</th>
        <th>说明</th>
        <th>返回值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>onClose</td>
        <td>点击关闭按钮时触发</td>
      </tr>
      </tbody>
    </table>

  </doc-section>
</section>
