<section>
  <h1>Collapse 折叠</h1>
  <hr>
</section>


<doc-section [title]="'基础使用'" [code]="basic_code">
  <div sample>
    <app-demo-basic-collapse></app-demo-basic-collapse>
  </div>
</doc-section>


<doc-section [title]="'手风琴模式'" [code]="accord_code">
  <div sample>
    <app-demo-according-collapse></app-demo-according-collapse>
  </div>
</doc-section>


<doc-section [title]="'简单模式'" [code]="simple_code">
  <div sample>
    <app-demo-simple-collapse></app-demo-simple-collapse>
  </div>
</doc-section>


<doc-section [title]="'嵌套模式'" [code]="nest_code">
  <div sample>
    <app-demo-nested-collapse></app-demo-nested-collapse>
  </div>
</doc-section>


<doc-section [title]="'at-collapse'" [type]="'c'" [sample]="false">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    <tr>
      <td doc-td>atAccordion</td>
      <td>是否手风琴模式</td>
      <td>boolean</td>
      <td>false/true</td>
      <td>false</td>
    </tr>
    <tr>
      <td doc-td>atSimple</td>
      <td>是否简易模式</td>
      <td>boolean</td>
      <td>false/true</td>
      <td>false</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</doc-section>


<doc-section [title]="'at-collapse-item'" [type]="'c'" [sample]="false">
  <table desc class="table">
    <thead>
    <tr>
      <th>参数</th>
      <th>说明</th>
      <th>类型</th>
      <th>可选值</th>
      <th>默认值</th>
    </tr>
    <tr>
      <td doc-td>atTitle</td>
      <td>标题</td>
      <td>string | TemplateRef</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td doc-td>atDisabled</td>
      <td>是否禁用</td>
      <td>boolean</td>
      <td></td>
      <td>false</td>
    </tr>
    <tr>
      <td doc-td>atOpen</td>
      <td>是否打开</td>
      <td>boolean</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</doc-section>

