<at-tree-root [atIconMode]="'plus'" [atCheckable]="false" [atShowLine]="true">
  <at-tree [title]="'跟树'">
    <at-tree-node>123</at-tree-node>
    <at-tree-node>123</at-tree-node>
    <at-tree-node>123</at-tree-node>
    <at-tree-node>123</at-tree-node>
    <at-tree [title]="'子树'">
      <at-tree-node>456</at-tree-node>
      <at-tree-node>456</at-tree-node>
      <at-tree-node>456</at-tree-node>
    </at-tree>
    <at-tree [title]="'子树'">
      <at-tree-node>456</at-tree-node>
      <at-tree-node>456</at-tree-node>
      <at-tree-node>456</at-tree-node>
    </at-tree>
    <at-tree [title]="'可选择子树'">
      <at-tree-node >456</at-tree-node>
      <at-tree-node>456</at-tree-node>
      <at-tree-node>456</at-tree-node>
    </at-tree>
  </at-tree>
</at-tree-root>
