<at-timeline>
  <at-timeline-item>
    <i timeline-dot class="icon icon-github"></i>
    <p timeline-content>洗澡</p>
  </at-timeline-item>
  <at-timeline-item>
    <i timeline-dot class="icon icon-github"></i>
    <p timeline-content>洗澡*2</p>
  </at-timeline-item>
  <at-timeline-item [status]="'warning'">
    <i timeline-dot class="icon icon-github"></i>
    <p timeline-content>洗澡*3</p>
  </at-timeline-item>

  <at-timeline-item [status]="'success'">
    <i timeline-dot class="icon icon-github"></i>
    <p timeline-content>洗澡*4</p>
  </at-timeline-item>

  <at-timeline-item [status]="'error'">
    <i timeline-dot class="icon icon-github"></i>
    <p timeline-content>我爱洗澡</p>
  </at-timeline-item>
</at-timeline>

