<section>
  <h1>Modal 模态框</h1>
  <hr>
  <doc-section [sample]="false">
    <div desc>
      <p>模态对话框，当需要询问用户处理事务，又不希望跳转页面时，可以使用模态框&nbsp;<code>Modal</code>&nbsp;在当前页面打开一个浮层并承载相应的操作。</p>

      <p>
        当需要弹出一个简洁的确认框时，也可以使用默认的精简版模态框。 atModalService，可以直接通过&nbsp;<code>this.atModalService.</code>&nbsp;对象操作实例方法
      </p>

      <h2>Modal 实例方法</h2>
      <p>通过调用&nbsp;<code>this.atModalService.</code>&nbsp;的方法来使用：</p>
      <br>
      <ul>
        <li><code>this.atModalService.modal(config)</code></li>
        <li><code>this.atModalService.info(config)</code></li>
        <li><code>this.atModalService..success(config)</code></li>
        <li><code>this.atModalService..warning(config)</code></li>
        <li><code>this.atModalService..error(config)</code></li>
      </ul>

    </div>
  </doc-section>
  <doc-section [code]="basic" [title]="'基础用法'">
    <div sample>
      <div at-row>
        <div at-col [span]="8">
          <app-demo-basic-modal>
          </app-demo-basic-modal>
        </div>
        <div at-col [span]="8">
          <app-demo-basic-modal>

          </app-demo-basic-modal>
        </div>
        <div at-col [span]="8">
          <app-demo-basic-modal>

          </app-demo-basic-modal>
        </div>
      </div>
    </div>
  </doc-section>

  <doc-section [title]="'用服务启动多种状态'" [language]="'typescript'" [code]="service">
    <div sample>
      <app-demo-service-modal>

      </app-demo-service-modal>
    </div>
  </doc-section>

  <doc-section [title]="'组件化使用'" [code]="custom">
    <div sample>
      <app-demo-custom-modal>

      </app-demo-custom-modal>
    </div>
  </doc-section>

  <doc-section [title]="'改变大小位置样式'" [code]="position">
    <div sample>
      <app-demo-position-modal>

      </app-demo-position-modal>
    </div>
  </doc-section>

  <doc-section [title]="'at-modal 参数'" [type]="'c'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>show</td>
        <td>是否显示</td>
        <td doc-type-td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>showHeader</td>
        <td>是否显示头部</td>
        <td doc-type-td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>showFooter</td>
        <td>是否显示底部</td>
        <td doc-type-td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>atType</td>
        <td>模态框类型</td>
        <td doc-type-td>string</td>
        <td><code>normal</code> | <code>confirm</code></td>
        <td>normal</td>
      </tr>

      <tr>
        <td doc-td>top</td>
        <td>距离顶部的距离</td>
        <td doc-type-td>Number</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>width</td>
        <td>宽度</td>
        <td doc-type-td>number</td>
        <td>-</td>
        <td>520</td>
      </tr>
      <tr>
        <td doc-td [o]="true">onCancel</td>
        <td>点击取消/关闭的回调</td>
        <td doc-type-td>Function</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td [o]="true">onOk</td>
        <td>点击确认的回调</td>
        <td doc-type-td>Function</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>footer</td>
        <td>底部选择器指令</td>
        <td doc-type-td>Directive</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>header</td>
        <td>头部选择器指令</td>
        <td doc-type-td>Directive</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>body</td>
        <td>内容选择器指令</td>
        <td doc-type-td>Directive</td>
        <td>-</td>
        <td>-</td>
      </tr>


      </tbody>
    </table>

  </doc-section>

  <doc-section [title]="'at-modal-service 参数'" [type]="'s'" [sample]="false">
    <table desc class="table">
      <thead>
      <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td doc-td>message</td>
        <td>消息体</td>
        <td doc-type-td>string | TemplateRef&lt;void&gt;</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>showHeader</td>
        <td>是否显示头部</td>
        <td doc-type-td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>showFooter</td>
        <td>是否显示底部</td>
        <td doc-type-td>boolean</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>atComponent</td>
        <td>动态模板</td>
        <td doc-type-td>TemplateRef&lt;void&gt;</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td>title</td>
        <td>标题</td>
        <td doc-type-td>string | TemplateRef&lt;void&gt;</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>top</td>
        <td>距离顶部的距离</td>
        <td doc-type-td>Number</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td>width</td>
        <td>宽度</td>
        <td doc-type-td>number</td>
        <td>-</td>
        <td>520</td>
      </tr>

      <tr>
        <td doc-td [o]="true">atOnClose</td>
        <td>点击取消/关闭的回调，返回 <code>false</code> 时不关闭</td>
        <td doc-type-td>(Function () => false | void) | Promise&lt;void | false &gt;</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td doc-td [o]="true">atOnOk</td>
        <td>点击确认的回调 ,返回 <code>false</code> 时不关闭</td>
        <td doc-type-td>Function () => true | false</td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td doc-td [o]="true">atAfterClose</td>
        <td>关闭后的回调</td>
        <td doc-type-td>Function () => void</td>
        <td>-</td>
        <td>-</td>
      </tr>


      </tbody>
    </table>
  </doc-section>


</section>
