<at-dnd-container [(ngModel)]="bindData">
  <div at-row [atGutter]="32" style="border: 1px solid red">
    <ng-container *ngFor="let item of bindData.children;let i = index">

      <ng-container *ngIf="item.children?.length">
        <at-dnd-item  [moveElement]="move"
                     [(ngModel)]="bindData.children[i]">
          <div at-drag-trigger class="move" draggable="true">
            <at-icon [type]="'move'"></at-icon>
          </div>
          <div #move at-col [span]="12" style="border: 1px solid red">
            <div at-row>
              <ng-container *ngFor="let child of item.children;let k = index">
                <at-dnd-item [moveElement]="move" class="col col-4 padding-col"
                             [(ngModel)]="bindData.children[i].children[k]">

                  <div at-drag-trigger class="move" draggable="true">
                    <at-icon [type]="'move'"></at-icon>
                  </div>
                  <div #move class="bind-data child-bind">
                    child-{{child.key}}
                  </div>
                </at-dnd-item>
              </ng-container>
            </div>
          </div>
        </at-dnd-item>

      </ng-container>

      <ng-container *ngIf="!item.children?.length">
        <at-dnd-item [moveElement]="move" class="col col-4 padding-col"
                     [(ngModel)]="bindData.children[i]">

          <div at-drag-trigger class="move" draggable="true">
            <at-icon [type]="'move'"></at-icon>
          </div>
          <div #move class="bind-data">
            {{item.key}}
          </div>
        </at-dnd-item>
      </ng-container>


    </ng-container>

  </div>
</at-dnd-container>
